html {
  font-family: -apple-system, BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
}

blockquote {
  margin: 0;
  color: #65737E;
  border-left: 4px solid #A7ADBA;
  padding-left: 2em;
}

hr {
  border: 0;
  border-bottom: 1px solid #A7ADBA;
  margin-bottom: 4em;
  margin-top: 4em;
}

blockquote p {
  margin-bottom: 1em !important;
}

iframe {
  border: none;
  margin: 0 auto;
  display: block;
}

pre {
  overflow: auto;
  background-color: #D8DEE9;
  color: #65737E;
  padding: 1em;
}

code {
  font-family: "Fira Mono", "DejaVu Sans Mono", "Lucida Console", monospace;
}

body {
  margin: 0;
}

a {
  text-decoration: underline;
  color: #343D46;
  /*color: #6699CC;*/
}

a:hover {
  text-decoration: underline;
}

.music-gallery-list {
  list-style-type: none;
}

.music-gallery-list li {
  margin-bottom: .5em;
}

.twitter {
  color: #0C9DF2;
}

.zhihu {
  color: #0767c8;
}

.weibo {
  color: #E80025;
}

.github {
  color: #333333;
}

.email {
  color: #4285F4;
}

.non-style-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.description {
  text-align: center;
  margin-top: 4em;
}

.description img{
  border-radius: 50%;
  max-width: 128px;
}

.description .name {
  font-weight: bold;
}

.description .desc {
  color: #65737E;
}

nav .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav .nav {
  padding: 2em;
}

nav .nav .nav-item {
  display: inline-block;
  margin-right: .5em;
}

.container {
  width: 640px;
  margin: 0 auto;
}

.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post-list-item {
  margin-bottom: .2em;
}

.skill-list {

}

.talk-list-item, .skill-list-item {
  margin-top: .2em;
}

.hr {
  font-size: 1em;
  line-height: 0;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #A7ADBA;
  margin-top: 3em;
  margin-bottom: 1.2em;
}

.hr span {
  background-color: #fff;
  padding-left: .5em;
  padding-right: .5em;
  color: #A7ADBA;
}

.post-body {
  line-height: 1.8em;
}

.post-body h1 {
  margin-bottom: 2em;
}

.post-body p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.post-body img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.post-body video {
  max-width: 100%;
}

.post-footer {
  text-align: center;
  color: #65737E;
}

.post-footer p {
  margin-top: .5em;
  margin-bottom: .5em;
}

#footer {
  margin-top: 2em;
  padding: 1em;
  background-color: #fafafa;
  text-align: center;
  color: #C0C5CE;
}

#footer a {
  color: #C0C5CE;
}

.timeline ul li {
  margin-bottom: 1em;
}